<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Post "<%= @post.title %>" was created</h1>
    <p>
      You will receive email notifications when comments are added to your post.
    </p>
    <p>
      <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
